ODOO_CONTAINER_NAME=odoo18_web_test
ODOO_VERSION=18.0
ODOO_PORT=8069
DEBUGPY_PORT=8880

PG_CONTAINER_NAME=odoo18_db_test
PG_VERSION=15
PG_USER=odoo
PG_PASSWORD=odoo
PG_PORT=5432

ODOO_BASE_URL=http://web:8069
ODOO_URL=http://web:8069
ODOO_DB=admin
ODOO_USERNAME=admin
ODOO_PASSWORD=admin
ODOO_AI_TOKEN=change_me_for_local_dev

OPENAI_API_KEY=your_openai_key_here
AI_PROVIDER=openai
AI_MODEL=gpt-4o-mini
LOG_LEVEL=info
AI_SERVICE_AUTH_REQUIRED=true
AI_SERVICE_URL=http://ai_service:8000/v1/ask
AI_SERVICE_CONTAINER_NAME=ai_service_test
AI_SERVICE_PORT=8001
KNOWLEDGE_DB_CONTAINER_NAME=ai_knowledge_db_test
KNOWLEDGE_DB_PORT=5434

ODOO_SERVER=./odoo
ODOO_DATA=./odoo_data
CUSTOM_ADDONS=./custom_addons
ENTERPRISE_ADDONS=./enterprise
